<footer>
  <nav class="navbar navbar-inverse navbar-fixed-boottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <small><a class="navbar-brand" href="#">&copy Copyright's owned by designProject.com</a></small>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Linked In</a></li>
        
      </ul>
    </div>
  </div>
</nav>
</footer>